
table {
    text-align: center;
    margin: auto;
}

th,
td {
    padding: 5px;
    text-align: center;
}

img {
    width: 50px;
    height: 50px;
}

.horizontal-li {
    display: flex;
    flex-direction: row;
    padding: 0 0 5px;
}

div,
form {
    padding: 0 5px
}

.logo {
    width: 100px;
    height: 100px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.old-price {
    text-decoration: line-through;
}